html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

/*noinspection CssUnresolvedCustomProperty*/
body {
  color: var(--gray-12);
  background: var(--color-surface);
  font-family:
    var(--font-geist-sans), "Inter", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
